#heading {
  color: blue;
}

/* This is a comment */
/* Universal selector */

/* Type selector */
/* p {
  background-color: black;
  color: white;
} */

/* ID selector */
/* #p1 {
  color: red;
} */

h1 {
  margin: 20px;
  border: solid 5px black;
  padding: 20px;
}

span {
  border: solid 1px blue;
}

.image {
  height: 200px;
  display: inline-block;
  padding: 20px;
  /* width: 200px; */
}

.image img {
  height: 100%;
}

.info {
  width: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.info-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card {
  border: solid 2px lightgray;
  display: inline-block;
}

.card-container {
  /* width: 100%; */
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
